.2_4 { 
	overflow:hidden;
}.e2_4 { 
	background-color:rgba(241.00000083446503, 250.00000029802322, 238.00000101327896, 1);
	width:1920px;
	height:1081px;
	position:absolute;
}.e4_10 { 
	width:1920px;
	height:310px;
	position:absolute;
	left:0px;
	top:50px;
}.4_6 { 
	overflow:hidden;
}.e4_6 { 
	background-color:rgba(69.00000348687172, 123.0000002682209, 157.0000058412552, 1);
	width:1920px;
	height:310px;
	position:absolute;
	left:0px;
	top:0px;
}.e4_9 { 
	width:1920px;
	height:956.5714111328125px;
	position:absolute;
	left:0px;
	top:-313.5428466796875px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e4_11 { 
	background-color:rgba(168.0000051856041, 218.00000220537186, 220.00000208616257, 1);
	width:1920px;
	height:61px;
	position:absolute;
	left:0px;
	top:1020px;
}.e2_5 { 
	box-shadow:0px 7px 10px rgba(0, 0, 0, 0.15000000596046448);
	background-color:rgba(29.000000171363354, 53.00000064074993, 87.00000241398811, 1);
	width:1920px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}.e4_12 { 
	color:rgba(50.000000819563866, 50.000000819563866, 50.000000819563866, 1);
	width:645px;
	height:240px;
	position:absolute;
	left:638px;
	top:397px;
	font-family:Source Sans 3;
	text-align:center;
	font-size:75px;
	letter-spacing:-5;
}